html {
  font-size: 100%;
  font-family: "Courier Prime" Courier, monospace;
  font-weight: 400;
}
body {
  font-size: 100%;
  font-family: 'Courier Prime' Courier, monospace;
  font-weight: 400;
  width: auto;
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;
}
h1 {
  text-align: center;
}
// tempus hq
.tempus-hq {
}
.altare {
}
.axel {
}
// tempus vanguard
.tempus-vg {
}
.bettel {
}
.flayon {
}
.hakka {
}
.shinri {
}
// armis
.armis {
}
.jurard {
}
.goldbullet {
}
.octavio {
}
.ruze {
}
footer {
  font-size: 60%;
  color: grey;
}
